@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';
@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.teacher-lessons-wrapper {
    margin-bottom: 50px;
    @include displayFlex(start, flex-start, column);
}

.teacher-lessons-header {
    padding: 16px;
    width: 100%;

    .teacher-autocomplete {
        max-width: 400px;
    }
}

.teacher-lessons-list {
    @include displayFlex(center, flex-start, column);
    width: $full-size;
    padding: 0 16px;

    .loading-container {
        @include displayCenter();
        padding: 40px;
        color: $gray;
    }

    .no-lessons-message,
    .select-teacher-message {
        @include displayCenter();
        padding: 40px;
        color: $gray;
        font-size: $font-m;
    }
}