@import '../../../styles/colors.scss';
.semester {
    &-form {
        width: 375px;
        padding: 25px;
    }

    &-btns {
        margin-top: 20px;
    }

    &-checkboxes-container {
        display: flex;
        flex-wrap: wrap;
        label {
            display: block;
            width: 155px;
        }
    }

    &-checkbox {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        margin-right: 17px;
        margin-top: 10px;
        color: $label-color;
    }
    &-form-description {
        display: flex;
    }
    .-btn {
        margin: 10px 0 10px 17px;
    }
    &-inputs-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 5px 0;
        .semester-field-input {
            width: 45%;
        }
    }
}
