@import '../../../styles/colors.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.semester-form-card {
    width: 375px;
    padding: 25px;
}
.react-select__value-container {
    overflow-y: auto !important;
    min-height: 55px;
    max-height: 55px;
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
}
.react-select__multi-value {
    display: flex;
    justify-content: space-between;
}

.semester-checkboxes {
    @include displayFlex(center, start, column);
    color: $label-color;
    margin-right: 17px;
}

.semester-checkboxes-container {
    display: flex;
    flex-wrap: wrap;
    .MuiFormControlLabel-root {
        display: block;
        width: 155px;
    }
}

.semester-inputs-block {
    @include displayFlex(center, space-between);
    margin: 5px 0;
    .semester-field-input {
        width: $medium-size;
        padding-right: 20px;
    }
}
.semester-aside-panel{
width: 395px;
@media (max-width: $md-m) {
    position: relative;
    margin: 0 auto 40px;
    max-width: $full-size;
    @include displayFlex(center, start, column);
}
}
