@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';
@import '../../../styles/variables.scss';

@mixin flexWrap {
    display: flex;
}

@mixin buttonStyle {
    cursor: pointer;
    width: $btn-size;
    height: $btn-size;
    transition: color 0.3s linear;
}

.lesson-container {
    @include flexWrap();

    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;

    .lesson-card {
        background-color: $main-color;
        width: 15em;
        height: 16.5em;

        display: inline-block;
        margin: 10px;
        padding: 1rem;
        border-radius: 5px;
        box-shadow: 0 2px 8px $shadow-box;
    }

    .lesson-btns {
        @include flexWrap();
        align-items: center;
        justify-content: flex-end;
        position: relative;
        height: 2em;

        .svg-btn {
            @include buttonStyle;
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }

        .delete-btn {
            &:hover {
                color: $delete-color;
            }
        }

        .edit-btn {
            &:hover {
                color: $background-color;
            }
        }

        .info-btn {
            color: $create-color;
            cursor: default;
            left: 0;
            position: absolute;
        }

        .copy-btn {
            &:hover {
                color: $create-color;
            }
        }
    }
}

.title {
    font-weight: 500;
    height: 3em;
}

.lesson-link {
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
    font-size: 15px;
    color: $link;
}
