@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';
@import '../../../styles/variables.scss';

@mixin flexWrap {
    display: flex;
}

@mixin buttonStyle {
    cursor: pointer;
    width: $btn-size;
    height: $btn-size;
    transition: color 0.3s linear;
}

.cards-container {
    margin: 20px 0px 50px 0px;
    @media (max-width: $md-table-lanscape) {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    @include flexWrap();
    align-items: start;

    .container-flex-wrap {
        @include flexWrap();

        width: 100%;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        @media (max-width: $md-table-lanscape) {
            margin-top: 3rem;
        }
    }
}

.lesson-link {
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
    font-size: 15px;
    color: steelblue;
}

.done-lesson-card {
    background-color: $main-color;
    width: 15em;
    height: 16.5em;
}

.cards-btns {
    @include flexWrap();
    align-items: center;
    justify-content: flex-end;
    position: relative;
    height: 2em;

    .svg-btn {
        @include buttonStyle;
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }

    .delete-btn {
        &:hover {
            color: $delete-color;
        }
    }

    .edit-btn {
        &:hover {
            color: $background-color;
        }
    }

    .info-btn {
        color: $good-color;
        cursor: default;
        left: 0;
        position: absolute;
    }

    .copy-btn {
        &:hover {
            color: $good-color;
        }
    }
}

.lesson-container .title {
    font-weight: bold;
    height: 3em;
}
