@import '../../../styles/colors.scss';

p.empty_schedule {
    text-align: center;
    font-weight: bold;
    margin: 50px auto;
}

h1 {
    text-align: center;
}

.form-card.width-auto {
    width: auto;

    .MuiFormControl-root,
    .MuiInputBase-input {
        margin: 0 15px;
        width: auto;
    }
}

.place {
    padding: 10px;
    width: 120px;
    border-radius: 10px;
}

.schedule_page-container > * {
    margin: 8px;
}

// Filter bar
.schedule-filter-bar {
    background: $white;
    padding: 12px 24px;
    width: 100%;

    .schedule-form {
        display: grid;
        grid-template-columns: repeat(4, 1fr) auto;
        grid-template-rows: 50px;
        column-gap: 40px;
        padding: 0 40px;
        place-items: center;

        @media (max-width: 1280px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 50px) auto;
            gap: 10px 20px;
        }

        @media (max-width: 800px) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(5, 50px);
            justify-items: center;
        }
    }

    .schedule-form.no-semester {
        grid-template-columns: repeat(3, 1fr) auto;
        column-gap: 100px;

        @media (max-width: 1280px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 800px) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 50px);
        }
    }

    .schedule-form_submit {
        height: 36px;
        width: auto;
        min-width: 100px;
    }

    .schedule-form_semester,
    .schedule-form_group,
    .schedule-form_teacher,
    .schedule-form_department {
        width: 100%;

        .MuiFormControl-root {
            width: 100%;
        }

        @media (max-width: 500px) {
            width: 180px;
        }
    }
}

// Filter bar layout
.schedule-form-buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @media (max-width: 950px) {
        flex-direction: column;
        align-items: center;
    }
}

// Place selector (manager only)
#select-place {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    margin-left: 20px;

    label {
        color: $label-color;
        margin-bottom: 8px;
    }

    @media (max-width: 950px) {
        margin-left: 0;
        margin-top: 20px;
    }
}