@import '../../../styles/colors.scss';
@import '../../../styles//variables.scss';

.teacher-form-container {
    margin: 10px;

    .add-form {
        max-width: 340px;

        .MuiFormControl-root {
            margin-top: 5px;
            width: $full-size;
        }

        .teacher-form {
            width: $full-size;
            margin: 20px 0 0 0;
        }

        .form-buttons-container {
            margin-top: 25px;
        }
    }

    .form-card {
        @media (max-width: $md-s) {
            max-width: $full-size;
        }
    }

    @media (max-width: $md-s) {
        width: $full-size;
    }
}

.select-department {
    margin-bottom: 10px;
    &:hover {
        background-color: $selected-hover-color;
    }
}
