.not-found {
    &__wrapper {
        width: 100%;
        text-align: center;
        margin-top: 5em;
    }

    &__icon {
        font-size: 140px;
    }

    &__text {
        font-size: 40px;
    }
}
