@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.form-time-block {
    @include displayFlex(center, space-between);
    margin: 8px 0;
    .class-input {
        width: $full-size;
    }

    .time-input {
        width: $medium-size;
    }
}
