$dark-yellow: #ffc000;
$red: #e62116;
$light-red: #ff7f7f;
$selected-black: #0000001a;
$black: #0f0f0f;
$gray: #6b7280;
$light-gray: #d1d5db;
$light-clear-gray: #edeef1;
$snowy-white: #ffffff;
$yellow: #f7f7c1;
$light-blue-table: #f7fafd;
$light-hover-blue: #e8f1f8;
$blue: #1976d2;
$blue-hover: #155da5;
$light-blue: #4c94f6;
$dark-blue: #3f51b5;

$link: #4682b4;
$green: #028802;
$light-green: #c7f6b6;
$dark-green: #184b44;

$create-color-light: #90ee90;
$create-color: $green;
$edit-color: $blue;
$delete-color: $red;
$warning-color: $yellow;
$main-color: $snowy-white;
$background-color: $dark-blue;

$background-color-dark: #32408f;
$danger-background-color: #ff9999;

$shadow-box: #00000042;
$blue-shadow-box: #1976d242;
$thunck-color: #3333336c;
$thunck-color-hover: #333333b9;
$group-background-color: #edefff;
$azure: #add8e6;
$border-color: #000000;
$label-color: #9c9c9c;
$card-shadow-color: rgba(34, 60, 80, 0.2);
