$main-color: #fff;
$background-color: #3f51b5;
$background-color-dark: #32408f;
$delete-color: #e62116;
$danger-background-color: #ff9999;
$good-color: #028802;
$good-color-light: #90ee90;
$shadow-box: #00000042;
$thunck-color: #3333336c;
$thunck-color-hover: #333333b9;
$group-background-color: #edefff;
$border-color: #000000;
$label-color: #9c9c9c;


$selected-blue: #0000001a;
$snowy-white: #ffffff;
$black: #0f0f0f;
$light-gray: #d1d5db;
$light-clear-gray: #edeef1;
$gray: #6b7280;
$light-blue: #add8e6;
$dark-blue: #3f51b5;
$blue: #1976d2;
$blue-hover: #155da5;
$light-forest: #028802;
$forest: #184b44;

$box-shadow: rgba(34, 60, 80, 0.2);