$main-color: #fff;
$background-color: #3f51b5;
$background-color-dark: #32408f;
$delete-color: #e62116;
$danger-background-color: #ff9999;
$good-color: #028802;
$good-color-light: #90ee90;
$shadow-box: #00000042;
$thunck-color: #3333336c;
$thunck-color-hover: #333333b9;
$group-background-color: #edefff;
$light-blue: #add8e6;
$border-color: #000000;
$label-color: #9c9c9c;

$gray: #6b7280;
$light-gray: #d1d5db;
$snowy-white: #ffffff;
$blue: #1976d2;
$blue-hover: #155da5;
$dark-blue: #3f51b5;
$selected-blue: #0000001a;
