@import './colors.scss';

.auth-form {
    .form-input {
        .MuiInput-underline {
            &::before {
                border-color: $light-gray;
                border-width: 1px;
            }
        }
    
        label + .MuiInput-formControl {
            padding-right: 0;
        }
    }
}
