@import './colors.scss';

$regular-border: 1px solid $grey4;

//width and height constants
$h-screen: 100vh;
$w-screen: 100vw;
$full-size: 100%;
$medium-size: 50%;

// fonts constants
$font-2xs: 12px;
$font-xs: 14px;
$font-s: 16px;
$font-l: 20px;
$font-2xl: 28px;
$font-3xl: 36px;
$font-7xl: 72px;
$font-10xl: 140px;

// button size
$icon-size: $font-l;

//responsive constants
$md-2xl: 1400px;
$md-xl: 1200px;
$md-l: 992px;
$md-m: 768px;
$md-s: 576px;

//
$schedule-pc-screen: 1000px;
$md-width-lanscape: 850px;
$md-width: 768px;
$md-medium: 650px;
$md-small: 500px;
$md-smaller: 400px;
$sm-width: 640px;
