@import './colors.scss';

$btn-size: 20px;
$schedule-button-size: 15px;

$bold-border: 1px solid $thunck-color-hover;
$regular-border: 1px solid #e0e0e0;

$font-xs: 12px;
$font-sm: 14px;
$font-base: 16px;
$md-width: 768px;

$md-large: 1440px;
$md-desktop: 1200px;
$md-table: 768px;
$md-medium: 650px;
$md-table-lanscape: 850px;
$md-small: 500px;
