@import "../../../styles/colors.scss";
.room-form {
    margin: 10px;
    max-height: auto;
    width: 21em;
    padding: 0 20px 20px;
    &-field {
        width: 18.5em;
    }
}
.room-select-item {
    margin: 4px 10px 0;
    &:hover {
        background-color: $selected-hover-color;
    }
}
