@import '../../../styles/colors.scss';
.room-form {
    width: 350px;
    padding: 0 20px 20px;
}
.room-select-item {
    margin-top: 5px;
    &:hover {
        background-color: $selected-hover-color;
    }
}
