.teacher-card {
  height: 140px;
  position: relative;
  margin: 10px;

  .teacher-card-name {
    height: 3.2em;
    margin: 0.3em 0 1em;
    font-size: 1.3rem;

    @media (max-width: 400px) {
      font-size: 1.1rem;
    }
  }

  .teacher-card-title {
    margin: 0.2em 0 1em;
  }

  .teacher-subtitle {
    font-size: 0.8em;
    margin: 5px 0;
  }
}

.send-button {
  width: 100%;
}

.form-with-search-panel {
  width: 23.4em;
  position: sticky;
  top: 1em;

  @media (max-width: 850px) {
    position: relative;
    margin-bottom: 20px;
    max-width: 90%;
  }

  @media (max-width: 500px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}
