@import '../../styles/variables.scss';

#select-dialog-title{
    width: 400px;
    height: 400px;
  }
  .teacher-semester{
    span{
      font-size: $font-s;
      font-weight: bold;
      margin: 0;
    }
    .css-yk16xz-control{
      margin-bottom: 4px!important;
    }
  }
  