@import '../../styles/colors.scss';
@import '../../styles/variables.scss';

.group-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 2rem 1rem 2rem;
  margin:  10px;
  border-radius: 3px;
  border: $card-border;
  box-shadow: $card-shadow;

  .MuiFormControl-root{
    width: 99%;
    margin-bottom: 10px;
  }
  
}

.group {
    &-form__title {
        text-align: center;
        font-weight: 600;
    }
}

.form-buttons-container{
  width: 100%;
  .MuiButtonBase-root{
    width: 48%;
    margin: 5px 0 5px ;
  }
}