@import '../../styles/colors.scss';
section {
    margin: 20px 0;
}
.form-card {
    &.teacher-schedule-day-card {
        position: inherit;
    }
    &.blocks-view {
        display: inline-block;
    }
    &.list-view {
        display: block;
        margin: 20px auto;
        width: fit-content;
    }
    h3 {
        text-align: center;
    }
    .MuiTableContainer-root {
        overflow: visible;
        .overlap td {
            color: $delete-color;
        }
    }
}
