@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";
@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.group-card {
  @include displayFlex(center, center, column);
  width: 155px;
  height: 135px;
  margin: 10px;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid $gray1;
  background-color: $white;
  box-shadow: 0 1px 4px $shadow-box;

  &__number {
    text-align: center;
    text-transform: uppercase;
    font-size: $font-xl;
    margin: 5px 0;
  }

  &__description {
    text-align: center;
    margin: 5px 0;
    font-size: $font-xs;
  }

  &-buttons {
    @include displayFlex(center, space-between);
    width: $full-size;
    &-add-student {
      @include button-icon($green, $green3);
    }
  }

  &-button-students {
    @include displayFlex(center, center);
    @include button-icon($blue-btn-hover, $blue, $font-l);
    width: $full-size;
  }
}

.drag-border-card{
  box-shadow: 10px 0 5px -2px $blue3;
}