@import '../../../styles/cards.scss';

.group-card {
  align-items: center;
  width: 80px;

  &__label { display: none; }

  &__students-btns {
    border-top: 1px dashed darken($grey4, 5%);
    margin-top: 0;
  }
}