@import '../../styles/variables.scss';

.schedule-control-panel {
    display: flex;
    height: 92vh;
    padding-bottom: 10px;
    .schedule-table {
        align-items: start;
        overflow-x: hidden;
        display: flex;
        width: 84%;
        height: $h-full;
        justify-content: stretch;
        margin: 0 5px;
        padding:0px;
        overflow: auto;
        
    }
}
.for-phones-and-tablets.card {
    display: block;
    width: 80%;
    margin: 15% auto 0;
    text-align: center;
}
