@import '../../styles/variables.scss';

.schedule-control-panel {
    display: flex;
    height: 92vh;
    padding-bottom: 10px;
    .schedule-table {
        display: flex;
        width: 84%;
        height: 100%;
        justify-content: stretch;
        margin: {
            top: 0;
            left: auto;
            right: auto;
        }
        padding: 15px;
        overflow: auto;
    }
}
.for-phones-and-tablets.card {
    display: block;
    width: 80%;
    margin: 15% auto 0;
    text-align: center;
}
