.schedule-control-panel {
    display: flex;
    height: 92vh;
    padding-bottom: 10px;
    .schedule-table {
        display: flex;
        width: auto;
        overflow: auto;
        margin: {
            top: 0;
            left: auto;
            right: auto;
        }
        padding: 15px;
        justify-content: stretch;
        height: 100%;
        min-width: 75%;
    }
    .lesson-list{
        height: 100%;
        max-height: unset;
    }
}
