@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.schedule-control-panel {
    display: flex;
    height: 92vh;
    padding-bottom: 10px;
    .schedule-table {
        @include displayFlex(start, stretch);
        width: 85vw;
        height: $full-size;
        margin: 0 5px;
        padding: 0px;
        overflow: auto;
    }
}
.for-phones-and-tablets.schedule-card {
    display: block;
    width: 80%;
    margin: 15% auto 0;
    text-align: center;
}
