@import '../../styles/colors.scss';
.lang_selector {
    label.MuiFormControlLabel-root:hover,
    .activeLanguage {
        background: $azure;
    border-radius: 5px;
    }
    .MuiFormControlLabel-root {
        margin: 0px 5px;
        width: 40px;
    }
    span.MuiRadio-root {
        display: none;
    }
    .language-icon {
        margin: 0px 5px;
    }
}
