@import '../../../../styles/variables.scss';
@import "../../../../styles/mixins.scss";

.room-card {
    @include displayFlex(center, center, column);
    height: 150px;
    width: 235px;

    &-name {
        margin: 5px 0 15px;
        font-size: $font-l;
    }
    &-title {
        margin: 5px 0 15px;
    }
}
