@import '../../../../styles/cards.scss';

.room-card {
  align-items: center;
  width: 160px;

  &__type {
    font-size: $font-2xs;
    color: $gray;
    text-align: center;
    margin: 0 0 4px;
    padding: 0 6px;
  }
}