@import "../../styles/colors.scss";
@import "../../styles/fonts";

.full-schedule-wrapper {
  position: relative;
}

.floating-day-badge {
  position: absolute;
  left: 18px;
  top: 50%;
  //transform: translateY(-50%) rotate(180deg);
  //writing-mode: vertical-rl;
  font-family: $font;
  font-weight: 500;
  letter-spacing: 0.3em;
  font-size: 1.1em;
  color: $black;
  z-index: 10;
}