@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';
@import '../../styles/variables.scss';

@mixin flexWrap {
    display: flex;
}

@mixin buttonStyle {
    cursor: pointer;
    width: $btn-size;
    height: $btn-size;
    transition: color 0.3s linear;
}

.lesson-page-title {
    display: flex;
    justify-content: center;

    @media (max-width: 500px) {
        flex-direction: column;
    }

    .lesson-page-h {
        @media (max-width: 850px) {
            font-size: 1.1rem;
            line-height: 80px;
            margin-right: 20px;
        }

        @media (max-width: 500px) {
            line-height: 20px;
        }

        line-height: 50px;
        margin-right: 10px;
    }
}

.lesson-card {
    @media (max-width: 850px) {
        box-sizing: border-box;
    }
}

.card-title {
    width: 95%;
    text-align: center;
}

.section {
    margin: 0px 0;
}

.cards-container {
    margin: 20px 0px 50px 0px;
    @media (max-width: 850px) {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    @include flexWrap();
    align-items: start;

    .container-flex-wrap {
        @include flexWrap();

        width: 100%;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        @media (max-width: 850px) {
            margin-top: 3rem;
        }
    }
}

// for lessons

.centered-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 100%;
    margin-top: 1em;
}

// card

.card {
    background-color: $main-color;
    display: inline-block;
    margin: 10px;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 8px $shadow-box;
}

.done-lesson-card {
    background-color: $main-color;
    width: 15em;
    height: 16.5em;
}

.cards-btns {
    @include flexWrap();
    align-items: center;
    justify-content: flex-end;
    position: relative;
    height: 2em;

    .svg-btn {
        @include buttonStyle;
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }

    .delete-btn {
        &:hover {
            color: $delete-color;
        }
    }

    .edit-btn {
        &:hover {
            color: $background-color;
        }
    }

    .info-btn {
        color: $good-color;
        cursor: default;
        left: 0;
        position: absolute;
    }

    .copy-btn {
        &:hover {
            color: $good-color;
        }
    }
}

.lesson-container .title {
    height: 3em;
}
