@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';
@import '../../styles/variables.scss';

@mixin flexWrap {
    display: flex;
}

@mixin buttonStyle {
    cursor: pointer;
    width: $btn-size;
    height: $btn-size;
    transition: color 0.3s linear;
}

.lesson-card {
    @media (max-width: $md-table-lanscape) {
        box-sizing: border-box;
    }
}

.card-title {
    width: 95%;
    text-align: center;
}

.centered-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 100%;
    margin-top: 1em;
}

.wrapper {
    display: flex;

    @media (max-width: $md-small) {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.side-one {
    display: flex;
    flex-direction: column;
    width: min-content;

    .cards-container {
        transition: all 1s ease-out;
        margin: 0;
    }
    .cards-container .section {
        margin-top: 20px;
    }

    .not-selected {
        width: 320px;
        display: flex;
        height: 85px;
        align-items: center;
        margin-bottom: 30px;
    }

    .search-lesson {
        margin-top: 20px;
    }
    .search-group {
        max-width: 320px;
        width: 100%;
    }

    .form-field {
        width: 100%;
    }

    @media (max-width: $md-small) {
        display: flex;
        flex-direction: column;
        width: min-content;
        text-align: center;
    }
}

.side-two {
    display: flex;
    flex-direction: column;
    width: 100%;

    .group-lesson {
        height: 105px;
        display: flex;
        margin-top: 20px;
        justify-content: center;
        align-content: center;
        align-items: center;

        .MuiAutocomplete-root {
            width: 150px;
            margin-bottom: 4px;
        }
    }
}
