@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';
@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.lesson-wrapper {
    margin-bottom: 50px;
    @include displayFlex(start, flex-start);

    @media (max-width: $md-m) {
        @include displayFlex(stretch, center);
        flex-wrap: wrap;
    }
}

.lessons-list {
    @include displayFlex(center, flex-start, column);
    width: $full-size;

    .group-lesson {
        @include displayCenter();
        height: 105px;
    }

    .MuiAutocomplete-root {
        width: 150px;
        margin-bottom: 4px;
    }
}

.lesson-side-bar {
    position: sticky;
    top: 16px;
    margin-bottom: 100px;
    .form-card {
        .MuiFormControl-root {
            width: $full-size;
        }
    }

    .lesson-form-card {
        width: 320px;
        text-align: center;
        margin-bottom: 100px;

        @media (max-width: $md-m) {
            margin-bottom: 0;
        }
    }

    .not-selected {
        @include displayFlex(center, flex-start);
        height: 85px;
        margin: 10px;
        padding: 16px;
        border-radius: 5px;
        box-shadow: 0 2px 8px $shadow-box;
        margin-bottom: 30px;
    }

    .search-lesson {
        padding-bottom: 25px;
    }
    .search-group {
        max-width: 320px;
        width: $full-size;
        min-height: 85px;
    }

    @media (max-width: $md-m) {
        position: unset;
        margin-bottom: 0;
    }
}
