.date-group {
    display: flex;
    justify-content: space-between;
    margin: 0;
    .time-input {
        width: 49%;
    }
}

.container-flex-wrap {
    margin: 0;
}

.temporary-schedule-section {
    display: flex;
    flex-direction: column;
    width: 72%;
    .temporary-schedule-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        .temporary-schedule-row {
            display: flex;
            justify-content: space-between;
            margin: 0;
            .divider {
                background-color: #000000;
            }
        }
    }
}

.page-h {
    margin: 0;
}
