@import '../../../styles/colors.scss';

.room-type-form {
    text-align: center;
    margin: 20px 5px 0;
}

.btn-style-wrapper {
    margin: 15px 0;
}

.btn-style {
    width: 96%;
}

.new-types {
    padding: 0;
    vertical-align: middle;
}

.new-types-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.type-description {
    vertical-align: middle;
}

.buttons {
    .btn {
        margin: 7px;
        font-size: 22px;
    }

    .edit {
        cursor: pointer;
    }
    .edit:hover {
        color: $dark-blue;
        transition: ease-in-out 0.5s;
    }

    .delete {
        cursor: pointer;
    }
    .delete:hover {
        color: $delete-color;
        transition: ease-in-out 0.5s;
    }
}
