@import '../../../styles/colors.scss';

.room-type-form {
    text-align: center;
    margin: 20px 5px 0;
}

.btn-type-form-wrapper {
    margin: 15px 0;

    .type-form-btn {
        width: 96%;
    }
}

.form-types-list {
    padding: 0;

    .form-types-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.form-types-description {
    vertical-align: middle;
}

.form-types-icons {
    .room-type-icon {
        margin: 7px;
        font-size: 22px;

        &_edit {
            cursor: pointer;
        }
        &__edit:hover {
            color: $dark-blue;
            transition: ease-in-out 0.5s;
        }

        &__delete {
            cursor: pointer;
        }
        &__delete:hover {
            color: $delete-color;
            transition: ease-in-out 0.5s;
        }
    }
}