.search-container {
    width: 100%;
    text-align: center;
    padding: 5px;

    .group-lesson {
        display: flex;
        justify-content: center;
        flex-grow: 1;
        padding: 2rem;

        .MuiAutocomplete-root {
            width: 8rem;
        }
    }
}

.search-container .search-lesson-group {
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    flex-wrap: wrap;

    @media (max-width: 600px) {
        display: flex;
        justify-content: center;
        height: 100%;
    }

    .search-lesson {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: 300px;
        height: 100%;
        padding: 0;

        margin-left: 0;
        margin-right: 0;
    }
}

.search-lesson-group {
    display: flex;
    align-items: center;
    align-content: center;

    .search-lesson {
        margin-left: -300px;
        margin-right: 110px;
    }
}

.textField {
    display: inline-block;
    width: 150px;
}

.lesson-page-title {
    display: flex;
    justify-content: center;

    @media (max-width: 500px) {
        flex-direction: column;
    }

    .lesson-page-h {
        @media (max-width: 850px) {
            font-size: 1.1rem;
            line-height: 80px;
            margin-right: 20px;
        }

        @media (max-width: 500px) {
            line-height: 20px;
        }

        line-height: 50px;
        margin-right: 10px;
    }
}
