#select-dialog-title{
  width: 400px;
  height: 400px;
}
.teacher-semester{
  span{
    font-size: 17px;
    font-weight: bold;
    margin: 0;
  }
  .css-yk16xz-control{
    margin-bottom: 4px!important;
  }
}
