.edit-cell{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  margin: 0 20px;
  .edit-button{
    color: #265d26;
    margin-right: 10px;
    font-size: 25px;
  }
  .delete-button{
    color: #de2f23;
    font-size: 25px;
  }
}