@import "../../styles/mixins.scss";
@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.student-form {
    @include displayFlex(center, space-between,column);
    margin: 15px;
    .MuiFormControl-root{
        width: $full-size;
    }
}

.form-buttons {
    @include displayFlex(center, space-between);
    margin-top: 30px;
    width: $full-size;
    .MuiButtonBase-root{
    width: 48%;
  }
}