.student-container{
    width: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

.student-form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
}