@import "../../styles/mixins.scss";
@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.student-form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 350px;
}

.student-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    .MuiFormControl-root{
        width: $w-full;
    }
}

.form-buttons {
    @include displayFlex(center, space-between);
    margin-top: 30px;
    width: 100%;
    .MuiButtonBase-root{
    width: 48%;
  }
}