@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';
@import '../../styles/variables.scss';

.card {
    background-color: $white;
    display: inline-block;
    margin: 10px;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 8px $shadow-box;
}

.form-card {
    width: 340px;

    position: sticky;
    top: 1rem;

    @media (max-width: $md-width-lanscape) {
        position: relative;
    }

    @media (max-width: $md-small) {
        max-width: 85%;
        margin-bottom: 30px;
    }

    .form-title {
        text-align: center;
    }
}

.form-field {
    width: $full-size;
}

.class-card-width {
    width: 200px;
}

.done-card {
    background-color: $white;
    width: 150px;
    height: 145px;
}

.department-card {
    background-color: $white;
    width: 150px;
    height: 50px;
}

.vacation-card {
    background-color: $yellow;
    text-align: center;
    min-width: 272px;
}

.text-center {
    text-align: center;
}

.hidden-card {
    visibility: hidden;
}

.card-title {
    width: $full-size;
    text-align: center;
}
