@import '../../App';

@mixin set-width($form-width) {
    width: $form-width;
}

.card {
    background-color: $main-color;
    display: inline-block;
    margin: 10px;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 8px $shadow-box;
}

.form-card {
    @include set-width(20em);

    position: sticky;
    top: 1em;

    @media (max-width: 850px) {
        position: relative;
    }

    @media (max-width: 500px) {
        max-width: 85%;
        margin-bottom: 30px;
    }

    .form-title {
        text-align: center;
    }
}

.form-field {
    width: 20em;

    @media (max-width: 500px) {
        & input {
            max-width: 100%;
        }
    }
}

.class-card-width {
    width: 11em;
}

.done-card {
    background-color: $main-color;
    width: 15em;
}

.vacation-card {
    background-color: #f5deb3;
    text-align: center;
    min-width: 272px;
}

.text-center {
    text-align: center;
}

.hidden-card {
    visibility: hidden;
}

.card-title {
    width: 95%;
    text-align: center;
}

.green-card {
    background-color: #90ee90;
}

.auth-card {
    width: 450px;

    @media (max-width: 500px) {
        max-width: 90%;
    }

    .form-field {
        width: 25em;
    }
}
