@import '../../styles/cards.scss';

.subject-card {
    @include card-base-style;
}

.subject-card__name {
    @include card-name-style;
}

.subject-card:hover .subject-card__name {
    display: block;
    -webkit-line-clamp: unset;
    overflow: visible;
}

