@import '../../../styles/variables.scss';

.lesson-form {
    margin: 7px 2px;
    .MuiFormControl-root {
        margin-top: 10px;
        width: 100%;
    }

    .MuiAccordion-root {
        margin-top: 15px;
    }

    .form-fields-container .MuiFormControl-root {
        padding-right: 10px;
    }

    .form-fields-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 15px;

        div.MuiAutocomplete-root {
            width: 100%;
            .MuiFormControl-root {
                width: 100%;
            }
            div.MuiFormControl-root.MuiTextField-root.MuiFormControl-fullWidth {
                width: 100%;
                margin-top: 0;
            }
        }

        div.MuiFormControl-root.MuiTextField-root {
            width: 30%;
        }

        .MuiIconButton-colorPrimary {
            color: #3f51b5;
        }

        .PrivateSwitchBase-root-2 {
            padding: 3px;
        }

        .MuiTypography-root,
        .MuiFormControlLabel-root .MuiTypography-label {
            font-size: 15px;
            margin-top: 0px;
            color: rgba(0, 0, 0, 0.54);
        }

        .MuiFormControlLabel-root {
            margin-right: 0;
        }
    }

    .form-buttons-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 15px;

        .buttons-style {
            width: 48%;

            @media (max-width: $md-table) {
                margin-bottom: 5px;
                font-size: 12px;
                width: 60%;
            }
        }
    }
}
