@import '../../styles/colors.scss';
@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';
input[type="file"] {
    display: none;
}

.upload{
  &-dialog{
    @include displayCenter();
    flex-direction: column;
     width: 550px;

  }
  &-title{
    color: $label-color;
    //margin-bottom: 20px;
  }
  &-file {
  color: $snowy-white;
  background-color: $blue;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 5px;
  margin: 10px;
  padding: 5px 30px 5px 30px;
  border: $card-border;
  box-shadow: $card-shadow;
  cursor: pointer;
 }
 &-text{
  margin-left: 10px;
 }
}