.upload-dialog{
  box-shadow: rgb(131, 148, 231) 0px 30px 60px -12px inset, rgb(40, 53, 112) 0px 18px 36px -18px inset;;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  width: 700px;
  height: 300px;

  div{
    margin: 0px;
    input{
      margin-bottom: 15px;
    }
    p{
      font-size: 14px;
    }
  }
}