@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";
@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.group {
  &-container {
    display: flex;
    @media (max-width: $md-m) {
      @include displayFlex(center,center, column);
    }
  }
  &-sidebar {
    margin: 0 10px;
    .MuiTypography-body1 {
      font-size: $font-s;
    }
    @media (max-width: $md-m) {
      @include displayFlex(center,center);
      width: $full-size;
    }
  }
  &-aside {
    width: 360px;
    position: sticky;
    top: 1rem;
  }

  &-wrapper {
    @include displayFlex(start,center);
    width: $full-size;
  }
  &-list {
    @include displayFlex(start,center);
    flex-wrap: wrap;
    width: $full-size;
  }
}