@import '../../styles/cards.scss';

.department-card {
  @include card-base-style;

  &__name {
    @include card-name-style;
  }

  &:hover &__name {
    display: block;
    -webkit-line-clamp: unset;
    overflow: visible;
  }
}