@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.cards-container {
    @media (max-width: $md-m) {
        @include displayFlex(stretch, center);
        flex-wrap: wrap;
    }

    @media (max-width: $md-s) {
        @include displayFlex(stretch, center);
        flex-wrap: wrap;
        text-align: center;
    }
}

.form-with-search-panel {
    position: sticky;
    top: 16px;
    margin-top: 16px;

    .search-group {
        width: 340px;
        @media (max-width: $md-s) {
            width: 340px;
        }
    }

    .send-button {
        width: $full-size;

        @media (max-width: $md-s) {
            width: 340px;
        }
    }

    @media (max-width: $md-l) {
        margin-top: 30px;
    }

    @media (max-width: $md-s) {
        @include displayFlex(center, flex-start, column);
        width: 340px;
    }
}

.teacher-card {
    height: 230px;
    width: 230px;

    .teacher-card-name {
        height: 70px;
        margin: 5px 0 16px;
        font-size: 20px;
        text-overflow: ellipsis;
        overflow: hidden;

        @media (max-width: $md-s) {
            font-size: 16px;
        }
    }

    .teacher-card-title {
        height: 35px;
    }

    .teacher-email {
        width: 200px;
        text-align: start;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 16px;
        color: $link;
        background-color: $white;
        border: none;
        cursor: pointer;
    }
}

.teachers-list-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 15px;

    @media (max-width: $md-l) {
        margin-top: 30px;
    }
}

.teachers-cards .teachers-list-container {
    margin-top: 10px;
}
