@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";
@import "../../../styles/variables.scss";

@mixin buttonStyle {
    cursor: pointer;
    width: $icon-size;
    height: $icon-size;
    transition: color 0.3s linear;
}

.teachers-container {
    margin-bottom: 50px;
    display: flex;
    align-items: start;
    margin-top: 30px;

    @media (max-width: $md-medium) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    @media (max-width: $md-small) {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }
}

.form-with-search-panel {
    width: auto;
    position: sticky;
    top: 1em;

    .teacher-search {
        width: 360px;

        @media (max-width: $md-small) {
            width: 340px;
        }

        .search-group {
            width: auto;
            max-width: fit-content;
            min-height: 85px;
            background-color: $white;
            display: inline-block;
            margin: 10px;
            padding: 1rem;
            border-radius: 5px;
            box-shadow: 0 2px 8px $shadow-box;

            @media (max-width: $md-small) {
                width: 340px;
            }

            .MuiFormControl-root {
                width: 100%;
            }
        }
    }

    .send-schedule {
        display: flex;

        @media (max-width: $md-small) {
            display: flex;
            justify-content: center;
        }
    }

    .send-button {
        width: 100%;

        @media (max-width: $md-small) {
            width: 290px;
        }
    }

    @media (max-width: $md-width-lanscape) {
        position: relative;
        margin-bottom: 20px;
        max-width: 90%;
    }

    @media (max-width: $md-small) {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 340px;
    }
}

.teacher-card {
    position: relative;
    height: 14.5em;
    background-color: $white;
    width: 15em;
    display: inline-block;
    margin: 10px;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 8px $shadow-box;

    .teacher-btns {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        height: 2em;

        .svg-btn {
            @include buttonStyle;
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }

        .delete-btn {
            &:hover {
                color: $delete-color;
            }
        }

        .edit-btn {
            &:hover {
                color: $background-color;
            }
        }

        .copy-btn {
            &:hover {
                color: $create-color;
            }
        }
    }

    .teacher-card-name {
        height: 3.5em;
        margin: 0.3em 0 1em;
        font-size: 1.3rem;
        text-overflow: ellipsis;
        overflow: hidden;

        @media (max-width: $md-smaller) {
            font-size: 1.1rem;
        }
    }

    .teacher-card-title {
        margin: 0.2em 0 1em;
        height: 2.3em;
    }

    .teacher-subtitle {
        font-size: 0.8em;
        margin: 5px 0;
    }

    .teacher-email {
        text-decoration: none;
        overflow: hidden;
        white-space: nowrap;
        display: block;
        text-overflow: ellipsis;
        font-size: 16px;
        color: $link;
        margin: 16px 0;
        background-color: $white;
        border: none;
        cursor: pointer;
    }
}

.teachers-list-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;

    @media (max-width: $md-width-lanscape) {
        margin-top: 15px;
    }
}

.teachers-cards .teachers-list-container {
    margin-top: 10px;
}
