@import '../../../styles/colors.scss';
.semester-card {
    min-height: 175px;
    min-width: 16em;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 30em;

    .semester-groups {
        font-size: 25px;
        color: $good-color;
    }

    &__description {
        text-align: center;
    }

    &__name {
        text-align: center;
    }
}

.wrapper {
    width: 100%;
}

.current {
    box-shadow: 0 0px 15px 1px $good-color;
}

.default {
    width: 25px;
    height: 25px;
    border: 1px solid $good-color;
    border-radius: 50%;
    box-shadow: 0 0px 4px 0.5px $good-color;
    color: $good-color;
}

p.semester-card__description {
    height: 3em;
}
