@import '../../styles/variables.scss';

.busy-room {
    display: flex;
}
.busy-rooms-control-panel {
    display: flex;
    height: 85vh;
    padding-bottom: 10px;
    .busy-rooms-table-container {
        align-items: start;
        overflow-x: hidden;
        display: flex;
        width: $w-full;
        height: $h-full;
        justify-content: stretch;
        margin: 0 5px;
        padding:0px;
        overflow: auto;

    }
    .day-classes-aside .day-sidebar-title {
        height: 50px;
    }
}