@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.auth-form {
    margin: 8px 14px;
    &-footer {
        color: $gray;
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        .form-link {
            margin-top: 5px;
        }
    }
    .form-input {
        margin: 7px 2px;
    }
    &-actions {
        margin-top: 10px;
        .auth-confirm-button {
            min-width: 95%;
            font: {
                size: $font-xs;
                weight: bold;
            }
            padding: 6px 15px;
            text-transform: none;
            background-color: $blue;
            &:hover {
                background-color: $blue-btn-hover;
            }
        }
    }
}

.auth-container {
    display: flex;
    flex-direction: column;
    min-height: 52vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    &::before {
        content: "";
        display: block;
        flex-grow: 1;
        height: 24px;
    }
    .auth-card {
        display: inline-block;
        margin: 10px;
        padding: 16px;
        border-radius: 5px;
        width: 450px;
        box-shadow: 0 12px 20px 0px $shadow-box;

        @media (max-width: 500px) {
            max-width: 90%;
        }

        .form-field {
            width: 25em;
        }
    }
    .auth-card-header {
        .title {
            margin: {
                top: 24px;
                bottom: 0px;
            }
        }
        .subtitle {
            color: $gray;
            margin-top: 8px;
            margin: {
                top: 8px;
                left: 5px;
                right: 5px;
            }
            font-size: $font-xs;
        }
    }
    .auth-link {
        display: inline-block;
        color: $background-color;
        margin: 10px auto;
        border: none;
        background-color: inherit;
        cursor: pointer;
    }
    .auth-link:hover {
        color: $blue6;
    }
}
.MuiCircularProgress-root.auth-loading {
    margin: 50px;
}
.forgot-password-label {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}
