@import "../../styles/colors.scss";
@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.auth-form {
    margin: 8px 14px;
    &-footer {
        @include displayFlex(center, center,column);
        text-align: center;
        color: $gray;
        margin-top: 15px;
        .form-link {
            margin-top: 5px;
        }
    }
    .form-input {
        margin: 7px 2px;
    }
    &-actions {
        margin-top: 10px;
        .auth-confirm-button {
            min-width: 95%;
            font: {
                size: $font-xs;
                weight: bold;
            }
            padding: 6px 15px;
            text-transform: none;
            background-color: $blue;
            &:hover {
                background-color: $blue-btn-hover;
            }
        }
    }
}

.auth-container {
    @include displayFlex(center, center, column);
    min-height: 52vh;
    text-align: center;
    &::before {
        content: "";
        display: block;
        flex-grow: 1;
        height: 24px;
    }
    .auth-card {
        display: inline-block;
        margin: 10px;
        padding: 16px;
        border-radius: 5px;
        width: 450px;
        box-shadow: 0 12px 20px 0px $shadow-box;

        @media (max-width: $md-s) {
            max-width: 90%;
        }
    }
    .auth-card-header {
        .auth-card-title {
            margin: {
                top: 24px;
                bottom: 0px;
            }
        }
        .auth-card-subtitle {
            display: block;
            color: $gray;
            margin: {
                top: 10px;
            }
            font-size: $font-xs;
        }
    }
    .auth-link {
        display: inline-block;
        color: $background-color;
        margin: 10px auto;
        border: none;
        background-color: inherit;
        cursor: pointer;
    }
    .auth-link:hover {
        color: $blue6;
    }
}
.MuiCircularProgress-root.auth-loading {
    margin: 50px;
}
.forgot-password-label {
    font-size: $font-xs;
    font-weight: bold;
    margin-top: 10px;
}

.hidden-link {
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: $grey4;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

