@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.louder-container {
  @include displayCenter();
  min-width: 510px;
}

.table {
  margin: 20px 20px 0 20px;
  border: $regular-border;
  .MuiTableContainer-root {
    max-height: 65vh;
    overflow: auto;
    margin-bottom: 0;
  }
  .MuiTable-root {
    max-height: 20%;
    min-width: 700px;
  }
  .MuiTableCell-alignCenter {
    text-align: left;
  }
  .MuiTableRow-root {
    &:hover {
      background-color: $table-row-hover-color;
    }
  }
  tr:nth-child(odd) {
    background-color: $table-row-color;
  }
}

.title-align {
  color: $blue-btn-hover;
  margin-top: 0;
  margin-bottom: 0;
}
.edit-cell {
  @include displayCenter();
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 20px;
  .edit-button {
    color: $blue;
    margin-right: 10px;
    font-size: 25px;
    &:hover {
      color: $blue-btn-hover;
    }
  }
  .delete-button {
    color: $red2;
    font-size: 25px;
    &:hover {
      color: $delete-color;
    }
  }
}
.student-checked-all-box {
  margin-left: -10px;
  width: 20px;
  height: 20px;
}

.table-footer {
  @include displayCenter();
  width: 100%;
  .MuiTableCell-root {
    border-bottom: none;
  }
}
.empty-students-table {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 600px;
}

.checkbox {
  margin-left: 23px;
  color: $blue;
}
