@import '../../styles/colors.scss';
@import '../../styles/mixin.scss';
@import '../../styles/variables.scss';    

.louder-container{
 @include displayCenter();
  min-width: 510px;
}

.table{
  margin: 20px;
  border: $table-border;
  .MuiTableContainer-root{
    overflow: auto;
  }
  .MuiTable-root{
    min-width: 700px;
  }
  .MuiTableCell-alignCenter{
    text-align: left;
  }
  .MuiTableContainer-root{
    margin-bottom: 0;
  }
  .MuiTableRow-root{
    &:hover{
      background-color: $light-hover-blue;
    }
  }
  tr:nth-child(odd){
      background-color: $light-blue;
    }
}

.title-align{
  color: $blue-hover;
  margin-top: 0;
  margin-bottom: 0;
}
.edit-cell{
  @include displayCenter();
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 20px;
  .edit-button{
    color: $blue;
    margin-right: 10px;
    font-size: 25px;
  }
  .delete-button{
    color: $light-red;
    font-size: 25px;
  }
}
#checked-all-input{
  margin: -1px;
  width: 20px;
  height: 20px;
}

.table-footer{ 
    @include displayCenter();
    width: 100%; 
    .MuiTableCell-root{
      border-bottom: none;
    }
}
.empty-students-table{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 600px;
}