@import '../../styles/colors.scss';
@import '../../styles/mixin.scss';  

.table{
  margin: 20px;
  border: 1px solid rgba(224, 224, 224, 1);
  .MuiTable-root{
    min-width: 700px;
  }
  .MuiTableContainer-root{
    margin-bottom: 0;
  }
  .MuiTableRow-root{
    &:hover{
      background-color: $light-blue;
    }
  }
  tr:nth-child(odd){
      background-color: #f7fafd;
    }
  
}

.title-align{
  margin-top: 0;
  margin-bottom: 0;
}
.edit-cell{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  margin: 0 20px;
  .edit-button{
    //color: #ade6c6;
    color: $blue;
    margin-right: 10px;
    font-size: 25px;
  }
  .delete-button{
    color: #ff7676;
    font-size: 25px;
  }
}
#checked-all-input{
  margin: -1px;
  width: 20px;
  height: 20px;
}

.table-footer{ 
    @include displayCenter();
    width: 100%; 
    .MuiTableCell-root{
      border-bottom: none;
    }
}