$main-color: #fff;
$background-color: #3f51b5;
$background-color-dark: #32408f;
$delete-color: #e62116;
$good-color: #028802;
$shadow-box: #00000042;
$thunck-color: #3333336c;
$thunck-color-hover: #333333b9;
$group-background-color: #edefff;
$light-blue: #add8e6;
$border-color: #000000;
$label-color: #9c9c9c;

$btn-size: 20px;
$schedule-button-size: 15px;

$font: Roboto, 'Helvetica Neue', sans-serif;

$bold-border: 1px solid $thunck-color-hover;
$regular-border: 1px solid #e0e0e0;
