@import '../../../styles/colors';

.schedule-publish-banner {
  margin-left: 16px;

  &.unpublished {
    .MuiFormControlLabel-label {
      color: $red;
    }
  }

  &.published {
    .MuiFormControlLabel-label {
      color: $lesson-type-practical;
    }

    .MuiSwitch-colorPrimary.Mui-checked {
      color: $lesson-type-practical;
    }

    .MuiSwitch-colorPrimary.Mui-checked + .MuiSwitch-track {
      background-color: $lesson-type-practical;
    }
  }

  .MuiFormControlLabel-label {
    font-size: 16px;
    font-weight: 500;
  }
}

.schedule-publish-banner-right {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
}