@import '../../../styles/colors.scss';
@import '../../../styles/variables.scss';

.class-container {
    position: relative;
    margin: 0;
    .schedule-card {
        background-color: $snowy-white;
        margin: 5px;
        border-radius: 5px;
        box-shadow: 0 2px 8px $shadow-box;
    }
    .class-info-container {
        position: relative;
        .class-info-data {
            position: relative;
            width: 130px;
            z-index: 1;
            height: 100px;
            padding: 5px;
        }
    }
    .group-list-container {
        margin-top: 5px;
        text-align: center;
    }
    .group-list {
        margin: 2px;
        font-size: $font-sm;
        font-weight: bold;
        &:after {
            content: ',';
        }
        &:last-of-type::after{
            display: none;
        }
    }
    .week-type {
        position: absolute;
        left: 10px;
        top: -4px;
        color: $light-gray;
        font-size: $font-xs;
        &::first-letter {
            text-transform: uppercase;
        }
    }
    .possible,
    .available,
    .allow {
        p {
            color: $black;
        }
    }
    .possible {
        background-color: $warning-color;
    }
    .available {
        background-color: $light-green;
    }
    .allow {
        background-color: $create-color-light;
    }
    .not-allow {
        background-color: $red-light;
        p {
            color: $main-color;
        }
    }
}
