@import '../../App';

.search-group {
    min-height: 85px;
    max-width: 300px;

    @media (max-width: 500px) {
        width: 85% !important;
    }
}

.form-field {
    @media (max-width: 800px) {
        max-width: 100% !important;
    }
}
