@import '../../../styles/forms.scss';
@import '../../../styles/colors.scss';

.draggable-card {
    cursor: move;
}
.lesson-list.card {
    width: 16%;
    height: $h-full;
    margin-top: 0;
    margin-right: 0;
    overflow: hidden;

    .common-button {
        margin-bottom: 15px;
    }
    .app-button-container{
        display: flex;
        justify-content: center;
    }

    .card {
        font-size: $font-sm;
    }

    .autocomplete-container {
        margin: 0 10px;
    }
    .helper-text {
        margin: 0 5px;
        color: $gray;
        font-size: $font-sm;
        text-align: center;
    }
    .form-input {
        margin-top: 10px;
    }
    .empty{
        text-align: center;
    }
    .lessons-container{
        height: 82%;
        margin-top: 10px;
        color: $gray;
        font-size: $font-sm;
        overflow-y: auto;
    }
    .lessons-container.loading{
        position: relative;
        overflow-y: hidden;
        &::after {
            position: absolute;
            z-index: 2;
            width: $w-full;
            height: $h-full;
            content: '';
            top: 0;
            background-color: $snowy-white;
        }
    }.content-center{
        display:flex;
        justify-content: center;
    }
    .loading-circle {
        position: absolute;
        z-index: 3;
        margin-top: 20px;
    }
}
