.send-message{
  font-size: 25px;
  color: blue;
}
.title-align{
  text-align:center;
}
.send-letter-button{
  color: #32408f;
  border: none;
  background-color: inherit;
}
.table-student-data{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.MuiDialog-paperWidthSm{
  max-width: 800px!important;
}
