.send-message{
  font-size: 25px;
  color: blue;
}
.title-align{
  text-align:center;
}
.send-letter-button{
  color: #32408f;
  border: none;
  background-color: inherit;
}
.table-student-data{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  h6{
    width: 500px;
    padding: 5px;
  }

}
.group-select{
  z-index: 1000;
}
.MuiDialog-paperWidthSm{
  max-width: 800px!important;
}
.student-dialog-button-data{
  width: 25%;
  height: 45px;
}
.student-dialog-button-no-data{
  width: 45%;
  height: 45px;
}
.group-students{
  z-index: 1000;
  width: 600px;
  height: 600px;
  position: fixed;
  top:100px;
  left: 400px;
  background-color: #d6e0ea;
}

