@import '../../../../styles/colors.scss';
@import '../../../../styles/mixins.scss';

.semester-copy-title {
    color: $red;
}
.semester-copy-form {
    @include displayFlex(stretch, center);
}
.semester-copy-dialog .MuiPaper-root {
    width: 775px;
    padding: 8px;
}
.semester-copy-select .MuiInput-root {
    width: 250px;
    margin-right: 25px;
}
