.day-class-week {
  border: 0.5px solid #eacd12;
  width: 1400px;
  z-index: 1000;
}

.day-class-week-general {
  margin: 0 0 0 340px;
  padding: 0;
}

.classes {
  background-color: #eacd12 !important;
}

.group, .day-class-week {
  box-shadow: #eacd12 0 5px 15px;
}