.MuiAppBar-root {
   margin: 10px 0px 20px 0;
  .MuiTab-root {
    min-width: 140px;
    color: white;
    opacity: 1;
  }
}
.dictionary{
  margin-left: 20px;
}
.menu-dictionary{
  text-decoration: none;
  color: white;

}
 .MuiPaper-root{
  background-color: #3f51b5 !important;
}
