.form-time-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0;

    .class-input {
        width: 100% !important;
    }

    .time-input {
        width: 45%;
    }
}

.form-fields-container .MuiTypography-root,
.form-fields-container span.MuiCheckbox-root svg {
    margin-left: -8px;
    margin-bottom: -10px;
}
