@import '../../App';


.delete-word {
    color: $delete-color;
}
.edit-word {
    color: #028802;
}

.availability-info {
    text-align: center;
    font-weight: bolder;
}

.circular-progress-dialog {
    width: 100px;
    text-align: center;
}
.send-message {
    font-size: 25px;
    color: blue;
}
.title-align {
    text-align: center;
}
.send-letter-button {
    color: #32408f;
    border: none;
    background-color: inherit;
}
.table-student-data {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    h6 {
        width: 500px;
        padding: 5px;
    }
}
.group-select {
    z-index: 1000;
}
.MuiDialog-paperWidthSm {
    max-width: 800px !important;
}
.student-dialog-button-data {
    width: 25%;
    height: 45px;
}
.student-dialog-button-no-data {
    width: 45%;
    height: 45px;
}
.group-students {
    z-index: 1000;
    width: 600px;
    height: 600px;
    position: fixed;
    top: 100px;
    left: 400px;
    background-color: #d6e0ea;
}

.confirm-dialog {
    width: 1000px;
}
.go-to-meeting {
    color: forestgreen;
    text-decoration: none;
}
.custom-dialog{
    .MuiPaper-root{
        position: unset;
        min-width: 300px;
    }
   .custom-dialog-title{
        padding: 10px 20px;
   }
    .custom-dialog-body{
        padding: 4px 15px;
    }
    .buttons-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 10px 0;
        .dialog-button {
            text-transform: none;
            width: 45%;
        }
    }
}
.select-dialog{
    .MuiPaper-root{
        position: unset;
        overflow-y: unset;
    }
    .custom-dialog-body{
        overflow-y: unset;
    }
    .teacher-semester{
        .react-select__control{
            margin: 5px!important;
        }
    }
    .react-select__control{
        width: 350px;
    }
    

}