@import "../../App";
@import "../../styles/colors.scss";

.delete-word {
    color: $delete-color;
}
.edit-word {
    color: $light-forest;
}

.availability-info {
    text-align: center;
    font-weight: bolder;
}

.circular-progress-dialog {
    width: 100px;
    text-align: center;
}
.send-message {
    font-size: 25px;
    color: $blue;
}
.title-align {
    text-align: center;
}
.send-letter-button {
    color: $dark-blue;
    border: none;
    background-color: inherit;
}
.table-student-data {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    h6 {
        width: 500px;
        padding: 5px;
    }
}
.group-select {
    z-index: 1000;
}

.student-dialog-button-data {
    width: 25%;
    height: 45px;
}
.student-dialog-button-no-data {
    width: 45%;
    height: 45px;
}
.group-students {
    z-index: 1000;
    width: 600px;
    height: 600px;
    position: fixed;
    top: 100px;
    left: 400px;
    background-color: $light-gray;
}

.confirm-dialog {
    width: 1000px;
}
.go-to-meeting {
    color: $light-forest;
    text-decoration: none;
}
.custom-dialog {
    .MuiDialog-paperWidthSm {
        max-width: unset;
    }
    .MuiPaper-root {
        position: unset;
        min-width: 340px;
    }
    .custom-dialog-title {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .custom-dialog-body {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px 15px;
    }
    .buttons-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 10px 0;

        .common-button,
        .choose-button,
        .upload-file-button {
            color: $snowy-white;
            background-color: $blue;
            &:hover {
                background-color: $blue-hover;
            }
        }
        .common-button,
        .choose-button,
        .upload-file-button,
        .close-button {
            &:disabled {
                color: $gray;
                background-color: $light-gray;
            }
        }
        .close-button {
            background-color: $snowy-white;
            border: 1px solid $light-gray;
            &:hover {
                background-color: $light-clear-gray;
            }
            .MuiButton-label {
                color: $black;
            }
        }
        .dialog-button {
            text-transform: none;
            width: 45%;
        }
    }
}
.select-dialog {
    .MuiPaper-root {
        position: unset;
        overflow-y: unset;
    }
    .custom-dialog-body {
        overflow-y: unset;
    }
    .teacher-semester {
        .react-select__control {
            margin: 5px !important;
        }
    }
    .react-select__control {
        width: 350px;
    }
}
